header {
    padding: 20px;
    box-shadow: 0px 0px 15px 1px #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    #news-source-select {
        height: 40px;
        width: 220px;
        margin-bottom: 20px;
    }

    button {
        height: 40px;
        padding: 5px 15px;
        font-size: 18px;
        border: none;
        background-color: gainsboro;
    }

    button:hover {
        background-color: darkgray;
        cursor: pointer;
    }
}